@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

:root {
    --mainBgColor: #FFFAD9;
    --mainTitleColor: #556B2F;
    --accentBgColor: #4357AD;
    --accentTitleColor: #160C28;
    --mainAccentColor: #A6B1E1;
    --navBgColor: #BA8E2333;

    --titleFont: "Caprasimo", cursive;
    --headingFont: "Special Gothic Expanded One", sans-serif;
}

body {
    background-color: var(--mainBgColor);
}

#mainHeader {
    font-family: var(--titleFont);
    position: relative;
    background: linear-gradient(85deg, var(--mainTitleColor), #404B2D, white);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.1s;
    font-size: 3.5em;
}

#mainHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg, transparent 0%, rgba(225, 225, 225, 0.3) 50%, transparent 100%);
    animation: glint 2s infinite;
}

@keyframes glint {
    0% {
        left: -100%;
    }
    50% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

nav {
    margin-left: 0px;
    background-color: var(--navBgColor);
    border-radius: 25px;
    font-family: var(--headingFont);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2vw;
}

.leftNav, .centerNav, .rightNav {
    display: flex;
    align-items: center;
}

.centerNav {
    gap: 5em;
    justify-content: center;
    flex-grow: 1;
    font-size: 2.5em;
}

.leftNav {
    flex-shrink: 0;
}

.rightNav img {
    width: 10vw;
    cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--mainTitleColor) !important;
    text-decoration: none !important;
}

.selected {
    color: var(--accentBgColor);
}