@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    background-color:beige;
    color:black;
    font-family: 'Caprasimo', cursive;
}

h1 {
    color:darkolivegreen;
    margin: 20px;
    margin-left: 10px;
    letter-spacing: 7px;
}

a {
    color: goldenrod;
    text-decoration: none;
}

li {
    color: coral;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    left: 1%;
    bottom: 1%;
}

footer {
    font-size: 10px;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.button1,
.button2,
.button3 {
    position: relative;
    display: inline-block;
}

.button1:hover::after {
    content: url(resource/keyboard-switch.jpg); 
    display: block;
}

.button2:hover::after {
    content: url(resource/keyboard-barebones.jpg); 
    display: block;
}

.button3:hover::after {
    content: url(resource/keyboard-keycaps.jpg); 
    display: block;
    height: 100px;
}

li:hover::after {
    list-style-image: none;
}